<!DOCTYPE html>

<head>
    <title>♡ JavaScript</title>
    <meta charset="UTF-8">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/bootstrap-grid.min.css">

    <!-- React -->
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <!-- Шрифты -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mali:ital,wght@1,700&display=swap" rel="stylesheet">

    <!-- Стили сайта -->
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="left_menu">
                <ul class="navbar-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/games">Games</a></li>
                    <li><a href="/top">Top players</a></li>
                </ul>
            </div>

            <div class="navbar-wrap">
                <ul class="navbar-menu">
                    <div id="app"></div>

                    {{#if name}}
                    <li><a id="content">Hello {{{name}}}</a></li>
                    <li><a href="/logout">Выход</a></li>
                    {{/if}}

                    <script type="text/babel" src="/react.js"></script>
                </ul>
            </div>
        </div>
    </nav>
    {{{body}}}
</body>

</html>