<style>
    p {
        font-size: 24px;
    }
    
    .container {
        margin: 0 auto;
    }
    .img {
        margin: 0 auto;
    }

    .maind {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 320px;
        height: 320px;
        border-radius: 50%;
        background-color: pink;
    }

    .secondd {
        width: 280px;
        height: auto;
        height: 280px;
        border-radius: 50%;
        background-color: greenyellow;

        position: relative;
    }
</style>

<div class="container mt-8">
    <div class="row">
        <h1>IMG</h1>
    </div>
    <div class="row">
        <p>My profile</p>
    </div>
    <div class="user">
        <div class="img">
            <div class="maind">
                <div class="secondd">
                    <img src="/avatar.png" alt="Wazza!!" width="20%">

                </div>
            </div>
        </div>
</div>