<style>
    @font-face {
        font-family: "VCR OSD Mono";
        src: url("/fonts/VCR OSD Mono.ttf");
    }

    .game {
        background-color: #0d0c0b;
        border-radius: 25px;
        width: 320px;
        height: 100%;
        text-align: center;
        color: #fff;

        font-family: "VCR OSD Mono", asinastra, Helvetica;
        font-style: italic;
    }

    .game img {
        border-radius: 10% 10% 0 0;
    }

    hr {
        padding-bottom: 1px;
        background-color: #9b9b9b;
        border-bottom:1px solid #F4F4F4;
        margin: 0 0 6px 0;
    }

    .info {
        margin: 12px;
        font-size: 16px;
    }

    .game a {
        color: #00bd71 !important;
        text-decoration: none
    }
}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="game"> 
                <a href="/virus">
                    <img src="/game icons/virus v2.png" alt="WTF">
                    <hr/>
                    <div class="info">
                        <h2>Virus v2</h2>
                        <hr/>
                        <div><span>Захватывающий геймплей реалистичная графика</span></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>