<nav class="container mt-4">
  <div class="post">
    <div class="info">
      <div>
        <img src="/avatar.png"/>
        <span>Na_ACE</span>
      </div>
    </div>
    <hr>
    <div class="message">
      <span>Changes in the site:
        <li>The library began to be used for the site bootstrap, because of which the site had to be redone again.</li>
        <li>New features were added (this is how it should be).</li>
        <li>The game shows no signs of life.</li>
      </span>
    </div>
  </div>

  <div class="post">
    <div class="info">
      <div>
        <img src="/avatar.png" />
        <span>Na_ACE</span>
      </div>
    </div>
    <hr>
    <div class="message">
      <span>Welcome! Our site is at the beta testing stage</span>
    </div>
  </div>

  <div class="post">
    <div class="info">
      <div>
        <img src="/avatar.png" />
        <span>Na_ACE</span>
      </div>
    </div>
    <hr>
    <div class="message">
      <span>Welcome! Our site is at the beta testing stage</span>
    </div>
  </div>

  <div class="post">
    <div class="info">
      <div>
        <img src="/avatar.png" />
        <span>Na_ACE</span>
      </div>
    </div>
    <hr>
    <div class="message">
      <span>Welcome! Our site is at the beta testing stage</span>
    </div>
  </div>

  <div class="post">
    <div class="info">
      <div>
        <img src="/avatar.png" />
        <span>Na_ACE</span>
      </div>
    </div>
    <hr>
    <div class="message">
      <span>We have this wonderful site</span>
    </div>
  </div>
</nav>

<div style="position: absolute; bottom: -340px; width: 100%;">
  <img src="/site/fire.gif" style="width: 19.5%;"/>
  <img src="/site/fire.gif" style="width: 19.5%;"/>
  <img src="/site/fire.gif" style="width: 19.5%;"/>
  <img src="/site/fire.gif" style="width: 19.5%;"/>
  <img src="/site/fire.gif" style="width: 19.5%;"/>
</div>