<style>
    body {
        background-image: url(/site/wallpaper/top.png);
    }

    .thanos {
        text-align: center;
    }

    .top-users table {
        border-collapse: collapse;
        text-align: center;
        width: 100%;
    }

    .top-users td,
    th {
        border: 1px solid #dddddd;
        padding: 8px;
    }

    .top-users img {
        border-radius: 100px;
        width: 140px;
    }
</style>

<nav class="container mt-4">
    <div class="post">
        <div class="thanos">
            <img src="/site/thanos.gif" alt="">
        </div>

        <hr>

        <div class="top-users">
            <table>
                <tr>
                    <th>#</th>
                    <th>Avatar</th>
                    <th>Nickname</th>
                    <th>Scores</th>
                </tr>
                <tr>
                    <td>{1}</td>
                    <td><img src="/avatar.png" alt=""></td>
                    <td>Na_ACE</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>{2}</td>
                    <td><img src="/avatar.png" alt=""></td>
                    <td>Na_ACE</td>
                    <td>1000</td>
                </tr>
                <tr>
                    <td>{3}</td>
                    <td><img src="/avatar.png" alt=""></td>
                    <td>Na_ACE</td>
                    <td>1000</td>
                </tr>
            </table>
        </div>
    </div>
</nav>