<style>
    .container {
        text-align: center;
    }
    .container img {
        margin-bottom: 5%;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    .table {
        text-align: center;
    }

    .table img {
        width: 120px;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<div class="container">
    <img src="/thanos.gif" alt="">

    <div class="table">
        <table>
            <tr>
                <th>Место</th>
                <th>ID</th>
                <th>Name</th>
                <th>Image</th>
            </tr>
            <tr>
                <td>1</td>
                <td>0</td>
                <td>Na_ACE</td>
                <td><img src="/avatar.png" alt=""></td>
            </tr>
        </table>
    </div>
</div>