<style>
  body {
    background-image: url(/site/wallpaper/virus.png);
  }

  .margin {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .border {
    height: 100vh;
    display: flex;
    align-content: center;
    align-items: center;
  }

  #game {
    margin: 10px auto;
    width: 896px;
    height: 448px;
  }
</style>

<div class="margin">
  <div class="border">
    <img src="/site/dog l.gif">
    <div id="game"></div>
    <img src="/site/dog r.gif">
  </div>
</div>



<script src="/games/phaser.min.js"></script>
<script type="module" src="/games/index.js"></script>