<noscript>You need to enable JavaScript to run this app.</noscript>
<style>
    .margin {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    .border {
      height: 100vh;
      display: flex;
      align-content: center;
      align-items: center;
    }

    #game {
      margin: 10px auto;
      width: 896px;
      height: 448px;
    }
</style>

<div class="margin">
    <div class="border">
        <div id="game"></div>
    </div>
</div>



<script src="/phaser.min.js"></script>
<script type="module" src="/index.js"></script>
